:root {
  --primary-color: #FF782D;
  --black-color:#000000;
  --dis-color:#555555;
  --White_grey: #F5F5F5;
  --Grey:#9D9D9D;
  --Light_grey:#EAEAEA;
  --exo-font: "Exo", sans-serif;
  --jost-font: "Jost", sans-serif;
  --dis-size:18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global style */
.container {
  padding: 56px 70px 70px;
}

.btn {
  padding: 10px 24px;
  border-radius: 24px;
  font-size: var(--dis-size);
  font-family: var(--jost-font);
  font-weight: 500;
}

.orange {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border: none;
}

.h1-style {
  font-family: var(--exo-font);
  font-weight: 600;
  font-size: 36px;
}

.dis-style {
  font-family: var(--jost-font);
  font-size: var(--dis-size);
  color: #9D9D9D;
  font-weight: 400;
}

/* header styling */
header nav {
  width: 100vw;
  height: 72px;
  padding: 0 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .book {
  display: none;
}
header nav ul {
  min-width: 519px;
  list-style: none;
  font-family: var(--exo-font);
  display: flex;
  justify-content: space-between;
}
header nav ul li .link {
  color: var(--black-color);
  padding: 26.5px 20px;
  font-weight: 600;
  text-decoration: none;
}
header nav ul li .link:hover {
  color: var(--primary-color);
  background-color: var(--White_grey);
}
header nav ul .dropdown {
  position: relative;
}
header nav ul .dropdown img {
  position: absolute;
  left: 58px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
header nav ul .dropdown .submenu {
  min-width: 100%;
  width: 90px;
  position: absolute;
  display: none;
  top: 46px;
  background-color: white;
  border-radius: 8px;
}
header nav ul .dropdown .submenu li {
  padding: 10px 4px;
}
header nav ul .dropdown .submenu li a {
  text-decoration: none;
  color: var(--black-color);
}
header nav ul .dropdown .submenu li:hover a {
  color: var(--primary-color);
}
header nav ul .dropdown:hover .submenu {
  display: block;
}
header nav ul .hidden {
  display: none;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav div a {
  min-width: 130px;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--jost-font);
  color: var(--black-color);
  text-decoration: none;
}
header nav .bars {
  display: none;
}
header nav .barseList {
  display: none;
}
header .title {
  margin-top: 72px;
  padding: 18px 70px;
  display: flex;
  gap: 8px;
  background-color: var(--White_grey);
  align-items: center;
}
header .title a {
  text-decoration: none;
  font-family: var(--jost-font);
  color: var(--dis-color);
}
header .title .dif-color {
  font-family: var(--jost-font);
  color: var(--Grey);
}

/* main styling */
.courses .title-courses {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.courses .title-courses .search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.courses .title-courses .search div {
  position: relative;
}
.courses .title-courses .search div input {
  width: 270px;
  height: 31px;
  border-color: transparent transparent #000000 transparent;
  outline: none;
}
.courses .title-courses .search div .search-symble {
  position: absolute;
  top: 0;
  right: 0;
}
.courses .title-courses .search div input:focus + .search-symble {
  display: none;
}
.courses .title-courses .search .svg-img {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.courses .title-courses .search .svg-img .color path:hover {
  fill: var(--primary-color);
}
.courses .lists {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.courses .lists .info-courses {
  width: 100%;
  display: flex;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  position: relative;
  z-index: -1;
}
.courses .lists .info-courses .main-img {
  width: 410px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.courses .lists .info-courses .box {
  max-width: 114px;
  padding: 8px 12px;
  color: white;
  background-color: var(--black-color);
  font-family: var(--jost-font);
  font-weight: 500;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.courses .lists .info-courses .text {
  padding: 20px;
  width: calc(100% - 410px);
}
.courses .lists .info-courses .text .title-card {
  padding-top: 70x;
}
.courses .lists .info-courses .text .title-card p {
  font-family: var(--jost-font);
  padding-bottom: 12px;
}
.courses .lists .info-courses .text .title-card p span {
  color: var(--dis-color);
}
.courses .lists .info-courses .text .title-card h4 {
  font-family: var(--exo-font);
  font-weight: 600;
  font-size: 20px;
}
.courses .lists .info-courses .text .info {
  padding: 16px 0;
  margin-bottom: 67px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.courses .lists .info-courses .text .info .dis-flex {
  min-width: 84px;
  display: flex;
  gap: 8px;
  font-family: var(--jost-font);
  color: var(--dis-color);
}
.courses .lists .info-courses .text .info .dis-flex img {
  width: 16px;
  height: 16px;
}
.courses .lists .info-courses .text .line {
  border: 1px solid #eaeaea;
}
.courses .lists .info-courses .text .price {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.courses .lists .info-courses .text .price .new-price, .courses .lists .info-courses .text .price a {
  font-family: var(--jost-font);
  font-size: var(--dis-size);
  font-weight: 500;
}
.courses .lists .info-courses .text .price a {
  text-decoration: none;
  color: var(--black-color);
}
.courses .lists .info-courses .text .price .new-price {
  display: flex;
  gap: 8px;
}
.courses .lists .info-courses .text .price .new-price p {
  color: #9D9D9D;
  font-weight: 400;
}
.courses .lists .info-courses .text .price .new-price .free {
  color: #55BE24;
}
.courses .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.courses .cards .info-courses {
  max-width: 385px;
  display: block;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  position: relative;
  z-index: -1;
}
.courses .cards .info-courses .main-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
}
.courses .cards .info-courses .box {
  max-width: 114px;
  padding: 8px 12px;
  color: white;
  background-color: var(--black-color);
  font-family: var(--jost-font);
  font-weight: 500;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.courses .cards .info-courses .text {
  padding: 20px;
  width: 100%;
}
.courses .cards .info-courses .text .title-card {
  padding-top: 70x;
}
.courses .cards .info-courses .text .title-card p {
  font-family: var(--jost-font);
  padding-bottom: 12px;
}
.courses .cards .info-courses .text .title-card p span {
  color: var(--dis-color);
}
.courses .cards .info-courses .text .title-card h4 {
  font-family: var(--exo-font);
  font-weight: 600;
  font-size: 20px;
}
.courses .cards .info-courses .text .info {
  margin-bottom: 0;
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.courses .cards .info-courses .text .info .dis-flex {
  min-width: 84px;
  display: flex;
  gap: 8px;
  font-family: var(--jost-font);
  color: var(--dis-color);
}
.courses .cards .info-courses .text .info .dis-flex img {
  width: 16px;
  height: 16px;
}
.courses .cards .info-courses .text .info .hidden {
  display: none;
}
.courses .cards .info-courses .text .line {
  border: 1px solid #eaeaea;
}
.courses .cards .info-courses .text .price {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.courses .cards .info-courses .text .price .new-price, .courses .cards .info-courses .text .price a {
  font-family: var(--jost-font);
  font-size: var(--dis-size);
  font-weight: 500;
}
.courses .cards .info-courses .text .price a {
  text-decoration: none;
  color: var(--black-color);
}
.courses .cards .info-courses .text .price .new-price {
  display: flex;
  gap: 8px;
}
.courses .cards .info-courses .text .price .new-price p {
  color: #9D9D9D;
  font-weight: 400;
}
.courses .cards .info-courses .text .price .new-price .free {
  color: #55BE24;
}

.circle {
  max-width: 288px;
  margin: 70px auto 0;
  display: flex;
  gap: 12px;
}
.circle div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--Light_grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle div a {
  font-family: var(--jost-font);
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
  text-decoration: none;
}
.circle div:hover {
  background-color: var(--black-color);
}
.circle div:hover svg path {
  fill: white;
}
.circle div:hover a {
  color: white;
}

/* footer styling */
footer {
  background-color: rgb(245, 245, 245);
}
footer h4 {
  font-family: var(--exo-font);
  font-size: 20px;
  font-weight: 600;
}
footer .text {
  padding: 50px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30.2px;
}
footer .text .logo p {
  margin-top: 32px;
  max-width: 341.69px;
}
footer .text .help div, footer .text .programs div {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .text .help div a, footer .text .programs div a {
  font-weight: 500;
  text-decoration: none;
}
footer .text .help div a:hover, footer .text .programs div a:hover {
  color: var(--primary-color);
}
footer .text .conect .Address {
  padding-top: 32px;
  max-width: 340.22px;
}
footer .text .conect .tel {
  padding-top: 16px;
}
footer .text .conect .Mail {
  padding-bottom: 16px;
}
footer .text .conect .apps {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .text .conect .apps a:hover svg path {
  fill: var(--primary-color);
}
footer .Copyright {
  max-width: 452px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* for mobile screen */
@media screen and (max-width: 992px) {
  /* global styling */
  .container {
    padding: 56px 20px 70px;
  }
  /* header styling */
  header nav {
    padding: 0 20px;
  }
  header nav ul, header nav div {
    display: none;
  }
  header nav .bars {
    display: block;
    cursor: pointer;
  }
  header nav .barseList {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    font-family: var(--exo-font);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    background-color: white;
  }
  header nav .barseList .menue {
    display: flex;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    min-width: 100%;
  }
  header nav .barseList .menue li {
    padding: 24px 20px;
    border-bottom: 1px solid var(--White_grey);
  }
  header nav .barseList .menue li a {
    padding: 0;
    text-decoration: none;
  }
  header nav .barseList .menue li .link:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
  header nav .barseList .menue li:hover {
    background-color: var(--White_grey);
  }
  header nav .barseList .menue li:hover .link {
    color: var(--primary-color);
  }
  header nav .barseList .menue .dropdown {
    position: relative;
  }
  header nav .barseList .menue .dropdown img {
    left: 60px;
    top: 40%;
  }
  header nav .barseList .menue .dropdown .submenu {
    top: 55px;
    left: 0;
  }
  header nav .barseList div {
    display: block;
    position: relative;
  }
  header nav .barseList div button {
    position: absolute;
    width: 170px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
  header nav .barseList div button a {
    color: white;
  }
  header nav .barseList.active {
    opacity: 1;
    transform: translateX(0);
  }
  header .title {
    padding: 18px 20px;
  }
  /* main styling */
  .courses .title-courses {
    flex-direction: column;
    gap: 32px;
  }
  .courses .title-courses .search {
    flex-wrap: wrap;
  }
  .courses .title-courses .search div {
    max-width: 320px;
  }
  .courses .title-courses .search div input {
    max-width: 239px;
    height: 31px;
  }
  .courses .lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
  }
  .courses .lists .info-courses {
    max-width: 385px;
    display: block;
  }
  .courses .lists .info-courses .main-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .courses .lists .info-courses .text {
    padding: 20px;
    width: 100%;
  }
  .courses .lists .info-courses .text .info {
    margin-bottom: 0;
  }
  .courses .lists .info-courses .text .info .hidden {
    display: none;
  }
  .circle {
    margin-bottom: 70px;
  }
  /* footer styling */
  footer .text {
    padding: 70px 20px 38px;
    flex-direction: column;
  }
  footer .Copyright {
    padding: 0 20px 39px;
    text-align: center;
  }
}

/*# sourceMappingURL=courses.css.map */
