:root{
    --primary-color: #FF782D;
    --black-color:#000000;
    --dis-color:#555555;
    --White_grey: #F5F5F5;
    --Grey:#9D9D9D;
    --Light_grey:#EAEAEA;
    --exo-font: "Exo", sans-serif;
    --jost-font: "Jost", sans-serif;
    --dis-size:18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global style */
.container{
    padding: 56px 70px 70px;
}

.btn{
    padding: 10px 24px;
    border-radius: 24px;
    font-size: var(--dis-size);
    font-family: var(--jost-font);
    font-weight: 500;
}

.orange{
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
}

.h1-style{
    font-family: var(--exo-font);
    font-weight: 600;
    font-size: 36px;
}

.dis-style{
    font-family: var(--jost-font);
    font-size: var(--dis-size);
    color: #9D9D9D;
    font-weight: 400;
}

/* header styling */
header{
    nav{
        width: 100vw;
        height: 72px;
        padding: 0 70px;
        background-color: white;
        position:fixed ;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .book{
            display: none;
        }

        ul{
            min-width: 519px;
            list-style: none;
            font-family: var(--exo-font);
            display: flex;
            justify-content: space-between;
                
            li{
                    
                .link{
                    color:var(--black-color);
                    padding:26.5px 20px;
                    font-weight: 600;
                    text-decoration: none;
                }

                .link:hover{
                    color: var(--primary-color);
                    background-color: var(--White_grey);
                }
            }
                .dropdown{
                    position: relative;

                    img{
                        position: absolute;
                        left: 58px;
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                    }

                    .submenu{
                        min-width: 100%;
                        width: 90px;
                        position: absolute;
                        display: none;
                        top: 46px;
                        background-color: white;
                        border-radius: 8px;

                        li{
                            padding: 10px 0;
                            a{
                                text-decoration: none;
                                color: var(--black-color);
                            }
                        }

                        li:hover{
                            a{
                                color: var(--primary-color);
                            }
                        }
                    }
                }

                .dropdown:hover{
                    .submenu{
                        display: block;
                    }
                }
            

            .hidden{
                display: none;
            }
        }

        div{
            display: flex;
            align-items: center;
            gap: 20px;

            a{
                min-width: 130px;
                font-weight: 500;
                font-size: 18px;
                font-family: var(--jost-font);
                color: var(--black-color);
                text-decoration: none;
            }                
        }

        .bars{
            display: none;
        }
    }

    .title{
        margin-top: 72px;
        padding: 18px 70px;
        display: flex;
        gap: 8px;
        background-color: var(--White_grey);
        align-items: center;

        a{
            text-decoration: none;
            font-family: var(--jost-font);
            color: var(--dis-color);
        }

        .dif-color{
            font-family: var(--jost-font);
            color: var(--Grey);
        }
    }
}


/* main styling */

.courses{

    .title-courses{
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            gap: 20px;

            div{
                position: relative;

                input{
                    width: 270px;
                    height: 31px;
                    border-color: transparent transparent #000000 transparent;
                    outline: none;
                }

                .search-symble{
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                input:focus + .search-symble{
                    display: none;
                }
            }
            
            .svg-img{
                display: flex;
                gap: 20px;
                cursor: pointer;

                .color path:hover{
                    fill: var(--primary-color);
                }
            }
        }
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 35px;

        .info-courses{
            width: 100%;
            display: flex;
            border: 1px solid  #EAEAEA;
            border-radius: 20px;
            position: relative;
            z-index: -1;

            .main-img{
                width: 410px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .box{
                max-width: 114px;
                padding: 8px 12px;
                color: white;
                background-color: var(--black-color);
                font-family: var(--jost-font);
                font-weight: 500;
                border-radius: 8px;
                position: absolute;
                top: 20px;
                left: 20px;
            }

            .text{
                padding: 20px ;
                width: calc(100% - 410px);

                .title-card{
                    padding-top: 70x;

                    p{
                        font-family: var(--jost-font);
                        padding-bottom: 12px;

                        span{
                            color: var(--dis-color);
                        }
                    }

                    h4{
                        font-family: var(--exo-font);
                        font-weight: 600;
                        font-size: 20px;
                    }
                }

                .info{
                    padding: 16px 0;
                    margin-bottom: 67px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;

                    .dis-flex{
                        min-width: 84px;
                        display: flex;
                        gap: 8px;
                        font-family: var(--jost-font);
                        color: var(--dis-color);

                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .line{
                    border:1px solid  #eaeaea;
                }

                .price{
                    padding-top: 16px;
                    display: flex;
                    justify-content: space-between;

                    .new-price , a{
                        font-family: var(--jost-font);
                        font-size: var(--dis-size);
                        font-weight: 500;
                    }

                    a{
                        text-decoration: none;
                        color: var(--black-color);
                    }

                    .new-price{
                        display: flex;
                        gap: 8px;

                        p{
                            color:  #9D9D9D;
                            font-weight: 400;
                        }

                        .free{
                            color: #55BE24;
                        }
                    }

                }
            }
        }
    }
}

.circle{
    max-width: 288px;
    margin: 70px auto 0;
    display: flex;
    gap: 12px;

    div{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid var(--Light_grey);
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            font-family: var(--jost-font);
            font-weight: 500;
            font-size: 18px;
            color: var(--black-color);
            text-decoration: none;
        }
    }

    div:hover{
        background-color: var(--black-color);

        svg path{
            fill: white;
        }

        a{
            color: white;
        }
    }
}

/* footer styling */
footer{
    background-color: rgba(245, 245, 245, 1);

    h4{
        font-family: var(--exo-font);
        font-size: 20px;
        font-weight: 600;
    }

    .text{
        padding: 50px 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30.2px;

        .logo{
            p{
                margin-top: 32px;
                max-width: 341.69px;
            }
        }

        .help , .programs{
            div{
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                a{
                    font-weight: 500;
                    text-decoration: none;
                }

                a:hover{
                    color: var(--primary-color);
                }
            }
        }

        .conect{
            .Address{
                padding-top: 32px;
                max-width: 340.22px;
            }

            .tel{
                padding-top:16px ;
            }

            .Mail{
                padding-bottom: 16px;
            }

            .apps{
                display: flex;
                align-items: center;
                gap: 12px;

                a:hover svg path{
                    fill: var(--primary-color);
                }
            }
        }
    }

    .Copyright{
        max-width: 452px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

/* for mobile screen */

@media screen and (max-width:992px){
/* global styling */
    .container{
        padding:56px 20px 70px;
    }

    /* header styling */
    header{
        nav{
            padding: 0 20px;
            ul , div{
                display: none;
            }

            .bars{
                display: block;
                cursor: pointer;
            }
        }

        .title{
            padding: 18px 20px;
        }
    }

    /* main styling */
    
    .courses{
        .title-courses{
            flex-direction: column;
            gap: 32px;

            .search{
                flex-wrap: wrap;

                div{
                    max-width: 320px;
                    input{
                        max-width:  239px;
                        height: 31px;
                    }

                }
                
            }
        }
        .cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 35px;

            .info-courses{
                max-width: 385px;
                display: block;

                .main-img{
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border-bottom-left-radius: 0;
                }

                .text{
                    padding: 20px ;
                    width: 100%;

                    .info{
                        margin-bottom: 0;

                        .hidden{
                            display: none;
                        }
                    }
                    
                }
            }
        }
    }

    .circle{
        margin-bottom: 70px;
    }

    /* footer styling */
    footer{

        .text{
            padding: 70px 20px 38px;
            flex-direction: column;
        }

        .Copyright{
            padding:0 20px 39px;
            text-align: center;
        }
    }
}