:root {
  --primary-color: #FF782D;
  --black-color:#000000;
  --dis-color:#555555;
  --White_grey: #F5F5F5;
  --Grey:#9D9D9D;
  --Light_grey:#EAEAEA;
  --exo-font: "Exo", sans-serif;
  --jost-font: "Jost", sans-serif;
  --dis-size:18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global style */
.container {
  padding: 56px 70px 70px;
}

.btn {
  padding: 10px 24px;
  border-radius: 24px;
  font-size: var(--dis-size);
  font-family: var(--jost-font);
  font-weight: 500;
}

.orange {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border: none;
}

.h2-style {
  font-family: var(--exo-font);
  font-weight: 600;
  font-size: 32px;
  color: var(--black-color);
}

.dis-style {
  font-family: var(--jost-font);
  font-size: var(--dis-size);
  color: var(--dis-color);
  font-weight: 400;
}

/* header styling */
header nav {
  width: 100vw;
  height: 72px;
  padding: 0 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .book {
  display: none;
}
header nav ul {
  min-width: 519px;
  list-style: none;
  font-family: var(--exo-font);
  display: flex;
  justify-content: space-between;
}
header nav ul li .link {
  color: var(--black-color);
  padding: 26.5px 20px;
  font-weight: 600;
  text-decoration: none;
}
header nav ul li .link:hover {
  color: var(--primary-color);
  background-color: var(--White_grey);
}
header nav ul .dropdown {
  position: relative;
}
header nav ul .dropdown img {
  position: absolute;
  left: 58px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
header nav ul .dropdown .submenu {
  min-width: 100%;
  width: 90px;
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--Light_grey);
}
header nav ul .dropdown .submenu li {
  padding: 10px 20px;
}
header nav ul .dropdown .submenu li a {
  color: var(--black-color);
  text-decoration: none;
}
header nav ul .dropdown .submenu li:hover a {
  color: var(--primary-color);
}
header nav ul .dropdown:hover .submenu {
  display: block;
}
header nav ul .hidden {
  display: none;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav div a {
  min-width: 130px;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--jost-font);
  color: var(--black-color);
  text-decoration: none;
}
header nav .bars {
  display: none;
}
header nav .barseList {
  display: none;
}
header .title {
  margin-top: 72px;
  padding: 18px 70px;
  display: flex;
  gap: 8px;
  background-color: var(--White_grey);
  align-items: center;
}
header .title a {
  text-decoration: none;
  font-family: var(--jost-font);
  color: var(--dis-color);
}
header .title .dif-color {
  font-family: var(--jost-font);
  color: var(--Grey);
}

/* main styling */
.faqs h2 {
  padding-bottom: 50px;
}
.faqs .iteams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 38px 30px;
}
.faqs .iteams summary {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background-color: var(--White_grey);
  border-radius: 8px;
  list-style: none;
  cursor: pointer;
}
.faqs .iteams summary h5 {
  font-size: 16px;
}
.faqs .iteams summary img {
  width: 20px;
  height: 20px;
}
.faqs .iteams summary:focus h5 {
  color: var(--primary-color);
}
.faqs .iteams summary::marker {
  display: none;
}
.faqs .iteams p {
  padding: 20px 30px;
  background-color: var(--White_grey);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.faqs .iteams details[open] p {
  margin-top: -6px;
}
.faqs .iteams .image .thinking-img {
  width: 100%;
  padding: 0;
}

/* footer styling */
footer {
  background-color: rgb(245, 245, 245);
}
footer h4 {
  font-family: var(--exo-font);
  font-size: 20px;
  font-weight: 600;
}
footer .text {
  padding: 50px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30.2px;
}
footer .text .logo p {
  margin-top: 32px;
  max-width: 341.69px;
}
footer .text .help div, footer .text .programs div {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .text .help div a, footer .text .programs div a {
  font-weight: 500;
  text-decoration: none;
}
footer .text .help div a:hover, footer .text .programs div a:hover {
  color: var(--primary-color);
}
footer .text .conect .Address {
  padding-top: 32px;
  max-width: 340.22px;
}
footer .text .conect .tel {
  padding-top: 16px;
}
footer .text .conect .Mail {
  padding-bottom: 16px;
}
footer .text .conect .apps {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .text .conect .apps a:hover svg path {
  fill: var(--primary-color);
}
footer .Copyright {
  max-width: 452px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* for mobile screen */
@media screen and (max-width: 992px) {
  /* global styling */
  .container {
    padding: 56px 20px 70px;
  }
  /* header styling */
  header nav {
    padding: 0 20px;
  }
  header nav ul, header nav div {
    display: none;
  }
  header nav .bars {
    display: block;
    cursor: pointer;
  }
  header nav .barseList {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    font-family: var(--exo-font);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    background-color: white;
  }
  header nav .barseList .menue {
    display: flex;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    min-width: 100%;
  }
  header nav .barseList .menue li {
    padding: 24px 20px;
    border-bottom: 1px solid var(--White_grey);
  }
  header nav .barseList .menue li a {
    padding: 0;
    text-decoration: none;
  }
  header nav .barseList .menue li .link:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
  header nav .barseList .menue li:hover {
    background-color: var(--White_grey);
  }
  header nav .barseList .menue li:hover .link {
    color: var(--primary-color);
  }
  header nav .barseList .menue .dropdown {
    position: relative;
  }
  header nav .barseList .menue .dropdown img {
    left: 60px;
    top: 40%;
  }
  header nav .barseList .menue .dropdown .submenu {
    top: 55px;
    left: 0;
  }
  header nav .barseList div {
    display: block;
    position: relative;
  }
  header nav .barseList div button {
    position: absolute;
    width: 170px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
  header nav .barseList div button a {
    color: white;
  }
  header nav .barseList.active {
    opacity: 1;
    transform: translateX(0);
  }
  header .title {
    padding: 18px 20px;
  }
  /* main styling */
  .faqs .iteams {
    grid-template-columns: 1fr;
  }
  .faqs .thinking-img {
    max-width: 320px;
  }
  /* footer styling */
  footer .text {
    padding: 70px 20px 38px;
    flex-direction: column;
  }
  footer .Copyright {
    padding: 0 20px 39px;
    text-align: center;
  }
}

/*# sourceMappingURL=FAQS.css.map */
